.authWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  max-width: 450px;
  //max-height: 580px;
  //height: 100%;
  border-radius: var(--border-radius-primary);
  box-shadow: var(--form-shadow);
}

.authTabWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: 100px;
}

.logo {
  margin-bottom: 60px;
}

.authForm {

}

.loginBg {
  background: var(--gradient);
}

.signupBg {
  background: var(--gradient-mirror);
}

.authTab {
  background-color: var(--color-red-12);
  border-radius: 0;

  &Login,
  &SignUp,
  &:hover {
    background-color: transparent;
  }
}
