.form {
  padding: 25px 50px;
  width: 100%;
}

.form,
.inputsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.errorBanner {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid #ff0000;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  color: #ff0000;

  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}