.inputFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fieldInput {
  padding-bottom: 1px;
  border: none;
  border-bottom: 1px solid var(--color-orange-43);
  background-color: transparent;
  outline: none;
  transition: border-color 0.2s ease;
  caret-color: var(--color-orange-57);
  color: var(--color-grey-36);

  &:focus {
    border-color: var(--color-orange-5);
  }

  &::placeholder {
    color: var(--color-white-solid);
    text-transform: uppercase;
  }
}