@import '../../../index.scss';

.userProfileSection {
  display: grid;
  gap: 12px;
  background-color: var(--violette);

}

.userActions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include xl {
    grid-template-columns: 1fr;
  }
}