:root {
  --black: #3e3e3e;
  --blue: #007aff;

  --color-orange-43: #a58536;
  --color-orange-43--hover: #8d722e;
  --color-white-solid: #fff;
  --color-yellow-87: #e1e0d9;
  --color-azure-51: #1a73e8;
  --color-orange-89: #e5e3df;
  --color-black--500: rgba(0, 0, 0, 0.5);
  --color-red-12: #241818;
  --color-red-9-600: rgba(30, 17, 17, 0.33);
  --color-grey-50: #808080;
  --color-black-solid: #000;
  --color-grey-36: #5b5b5b;
  --color-grey-90: #e6e6e6;
  --color-grey-96: #f5f5f5;
  --color-red-9-850: rgba(30, 17, 17, 0.85);
  --color-white--150: rgba(255, 255, 255, 0.15);
  --color-red-9-400: rgba(30, 17, 17, 0.4);
  --color-orange-57: #be9667;
  --color-orange-5: #160c06;
  --color-grey-64: #a4a4a4;
  --color-white--500: rgba(255, 255, 255, 0.5);
  --color-black--800: rgba(0, 0, 0, 0.8);
  --color-grey-46: #757575;
  --color-grey-97: #f9f8f8;
  --color-grey-98: #fafafa;
  --color-grey-37: #5f5f5f;
  --color-orange-57-500: rgba(190, 150, 103, 0.5);
  --color-grey-16: #2a2a2a;
  --color-grey-64-250: rgba(164, 164, 164, 0.25);
  --color-black--100: rgba(0, 0, 0, 0.1);
  --color-grey-94: #f0f0f0;
  --color-azure-10: #06132b;
  --color-azure-54: #147fff;
  --color-green-48: #49b93b;
  --color-orange-6: #14100c;
  --color-orange-46: #91765a;
  --color-black--200: rgba(0, 0, 0, 0.2);
  --color-orange-46-300: rgba(145, 118, 90, 0.3);
  --color-grey-65: #aba59f;
  --color-white--0-20: rgba(255, 255, 255, 0);
  --color-cyan-22: #1e5249;
  --color-spring-green-59: #80ab9d;
  --color-grey-80: #cdcdcd;
  --color-grey-86: #dbdbdb;
  --color-grey-24: #3c3c3c;
  --color-grey-95: #f1f1f1;
  --color-grey-5: #0c0c0c;
  --color-grey-border: #b8bbc2;
  --color-azure-16: #02394f;
  --color-grey-38: #626262;
  --color-grey-11: #1c1c1e;
  --color-white--800: rgba(255, 255, 255, 0.8);
  --color-grey-47: #74747d;
  --color-cyan-58: #69b4bf;
  --color-grey-20: #333;
  --color-grey-9: #171719;
  --color-cyan-16: #163a34;
  --color-dark-red: #ff0000;

  --form-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.25);

  --gradient: linear-gradient(134deg, #be9667 0%, rgba(57, 42, 35, 0.7) 50.98%, rgba(36, 24, 24, 0.65) 67.64%, #241818 91.51%);
  --gradient-mirror: linear-gradient(239deg, #be9667 0%, rgba(57, 42, 35, 0.7) 50.98%, rgba(36, 24, 24, 0.65) 67.64%, #241818 91.51%);
}