.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  &Active {
    border-radius: 0;
    border-bottom: 1px solid var(--color-orange-43);
  }
}

// Auth page
.logInContainer {
  min-height: 100vh;
  height: auto;
  display: grid;
}

.logInSection {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}


// Edit Account page
.editPageContainer {
  min-height: 100vh;
  display: grid;
}

.editAccountPage {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;

  .title {
    text-align: center;

    > * {
      margin: auto;
    }
  }
}


// Users Page
.usersPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 80px;
}


// Tailor Portfolio Page
.upload {
  margin-bottom: 15px;

}


// Tailors
.tailorsPage {
  display: flex;
  flex-direction: column;
}

.tailorsTitle {
  margin-bottom: 45px;

  > * {
    margin: auto;
    text-align: center;
  }
}

.searchWrapper {
  flex: 1;
}


// Not Found
.notFound {
  min-height: 100vh;
  display: grid;

  &Info {
    display: flex;
    flex-direction: column;
    gap: 45px;

    text-align: center;
  }
}
