// Auth page
.logInContainer{
  min-height: 100vh;
}

.header {
  margin-bottom: 150px;
}

.logInSection {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}


// Edit Account page
.editPageContainer {
  min-height: 100vh;
  display: grid;
}

.editAccountPage {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;

  .title {
    text-align: center;

    > * {
      margin: auto;
    }
  }
}
