.edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.passwordBtn {
  align-self: center;
  justify-self: center;
  height: max-content;
  width: max-content;
}
