.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  padding: 12px 0;
  background-color: var(--color-red-9-850);
  border-bottom: 1px solid var(--color-orange-43);
}

.column {
  padding-left: 10px;
  border-left: 1px solid var(--color-red-12);
  border-right: 1px solid var(--color-red-12);
}

.header {
  background-color: var(--color-white-solid);
  border: none;
  color: var(--color-black-solid) !important;

  .column {
    display: flex;
    align-items: center;

    border: none;

    button:hover{
      transform: scale(1.0);
    }
  }
}

.list {
  margin-bottom: 35px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}