.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;

  padding: 12px 0;
  width: 100%;
  background-color: var(--color-red-9-850);
  border-bottom: 1px solid var(--color-orange-43);
}

.column {
  border-left: 1px solid var(--color-red-12);
  border-right: 1px solid var(--color-red-12);
  padding: 0 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: var(--color-white-solid);
  border: none;
  color: var(--color-black-solid) !important;

  .column {
    border: none;

    button:hover {
      transform: scale(1.0);
    }
  }
}

.list {
  margin-bottom: 35px;
}

.appointmentBtn {
  padding: 0;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.modal {
  padding: 35px;
  max-width: 800px;
  width: 100%;
  background-color: var(--color-white-solid);
  border-radius: var(--border-radius-secondary);

  &Header {
    margin-bottom: 40px;
  }

  &Close {
    margin-left: auto;
  }

  &Body {
    padding: 0 40px;
  }

  &Title {
    margin-bottom: 25px;
    text-align: center;
  }

  &Text{
    margin-bottom: 35px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;

  width: 100%;

  input, select, textarea {
    border: 2px solid var(--color-grey-border) !important;
    border-radius: var(--border-radius-secondary) !important;
    padding: 15px 20px !important;
    margin: auto;
    width: 87%;

    &:focus {
      outline: none;
      border-color: var(--color-orange-43);
    }
  }
}

.comment textarea {
  height: 120px;
  resize: none;
}

.error {
  font-size: 11px;
  color: var(--color-dark-red);
}