.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.editPasswordBtn {
  background-color: var(--color-dark-red);

  &:hover{
    background-color: var(--color-dark-red);
    transform: scale(1.01);
  }
}
